/* You can add global styles to this file, and also import other style files */
body{
    background-color: #D7CEC7
  }
  .outer-div{
    padding: 100px;
    align-content: center;
  }
  .inner-div{
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }
  